<html>
<head>
  <title>Welcome!</title>
</head>
<body>
  <form method="post" action="/new">
    Name of your puppy <input type="text" name="name">
    Breed of your puppy <input type="text" name="breed">
    Age of your puppy <input type="text" name="age">
    submit <input type="submit" value="submit">
  </form>
</body>
</html>
